@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn {
  @extend .shadow-sm;
  font-weight: bold;
  border: none;
}

.card, .dropdown-menu {
  @extend .shadow;
  border: none;
}

.alert {
  @extend .shadow-sm;
  border: none;
}

.form-control {
  @extend .shadow-sm;
}

.navbar {
  border-bottom: 1px solid $border-color;
}

.invalid-feedback {
  font-style: italic;
}
